node_modules
dist
dist-ssr
build
*.local

.env
.env.*
!.env.example

dashboard/backend/prisma/dev.db
dashboard/backend/prisma/dev.db-journal
dashboard/backend/public

logs
*.log
npm-debug.log*

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
